@import '../../styles/sass/colors';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 0 3vw;
  .brand {
    text-align: center;
    color: map-get($colors, grey, light);
    h3 {
      font-weight: 500;
    }
  }
}
