@import '../../styles/sass/colors';

.flex__container {
  display: flex;
  height: 100vh;
  .main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 5vw;
    height: 100%;
    background-color: map-get($colors, light, colorized, secondary);
    flex: 1;
    .reset__info__alert {
      p {
        color: map-get($colors, light, grey, dark);
        font-size: 1.1rem;
        margin: 3vh 0;
        text-align: center;
      }
    }
    .alert__message {
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      margin: 3vh 0 0;
      padding: 1vh 0;
      border-radius: 0.5rem;
      color: #2c6e49;
      background-color: #c7f9cc;
      svg {
        font-size: 1.35rem;
        margin-right: 0.5vw;
      }
    }
    .error__message {
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      margin: 3vh 0 0;
      padding: 1vh 0;
      border-radius: 0.5rem;
      color: #6e2c2c;
      background-color: #f9c7c7;
      svg {
        font-size: 1.35rem;
        margin-right: 0.5vw;
      }
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: map-get($colors, grey, light);
      margin: 0 0;
      > p {
        margin: 0 1.35vw;
        font-size: 0.85rem;
      }
      .line {
        width: 100%;
        height: 0.3px;
        background-color: map-get($colors, grey, light);
      }
    }
    .forget__password {
      margin-left: auto;
      margin-top: 1vh;
      color: map-get($colors, grey, light);
    }
    .create__account {
      color: map-get($colors, grey, light);
      a {
        color: map-get($colors, light, colorized, primary);
        font-weight: 600;
      }
    }
  }
  .illustration {
    flex: 1.35;
    flex-direction: column;
    background: map-get($colors, white, primary);
    display: flex;
    display: none;
    align-items: center;
    justify-content: end;
    position: relative;
    h2 {
      text-align: center;
      position: absolute;
      top: 25px;
      color: map-get($colors, grey, light);
      font-weight: 500;
    }
    img {
      width: 90%;
    }
  }

  @media (min-width: 768px) {
    .illustration {
      display: inherit;
    }
  }
}
