.dashboard__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    display: flex;
    &:first-child {
      font-size: 24px;
      color: #666;
      font-weight: 500;
    }
  }
  img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin-left: auto;
  }
}
.doughnut__charts__container {
  display: flex;
  gap: 1.35rem;
  width: 100%;
  > div {
    min-width: 0;
    flex: 1;
  }
}
