.dashboard__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 36px;
    height: 36px;
    margin-left: auto;
  }
}
.doughnut__charts__container {
  display: flex;
  gap: 1.35rem;
  width: 100%;
  > div {
    min-width: 0;
    flex: 1;
  }
}
