@import '../../styles/sass/colors';

.google-tag {
  background: map-get($colors, light, white, primary);
  color: map-get($colors, grey, dark);
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1vh 0 5vh;
  font-weight: 500;
  font-size: 1.1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px;
  .google-icon {
    margin-right: 0.5rem;

    svg {
      font-size: 1.5rem;
      display: flex;
      align-items: center;
    }
  }
  .text {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
  }
  &:hover {
    transform: translateY(-5px);
    transition: transform 500ms;
    transition-delay: 100ms;
  }
}
