.payment__chip {
  &.error {
    background-color: #f9c7c7;
    color: #8d0801;
    svg {
      color: #8d0801;
    }
  }
  &.check {
    background-color: #c7f9cc;
    color: #386641;
    svg {
      color: #386641;
    }
  }
}
