@import '../../styles/sass/colors';

.theme-dark {
  .table_header_color {
    background-color: map-get($colors, dark, bg, terciary);
    color: map-get($colors, white, secondary);
    button {
      color: map-get($colors, light, white, secondary);
    }
  }
  .MuiDataGrid-overlay {
    background-color: map-get($colors, dark, bg, secondary);
  }
  .MuiDataGrid-columnHeaders{
    border: none;
  }
  .MuiDataGrid-root {
    background-color: map-get($colors, dark, bg, secondary);
    border-radius: 0.5rem;
    border: none;
    .MuiDataGrid-main {
      background-color: map-get($colors, dark, bg, secondary);
      color: map-get($colors, light, white, primary);
      border-radius: 0.5rem;
    }
    .MuiTablePagination-root {
      color: map-get($colors, light, white, primary);
    }
  }
}
.theme-light {
  .table_header_color {
    background-color: map-get($colors, light, colorized, primary);
    color: map-get($colors, light, white, primary);
    button {
      color: map-get($colors, light, white, secondary);
    }
  }
  .MuiDataGrid-root {
    background-color: map-get($colors, light, white, primary);
    border-radius: 0.5rem;
    border: none;
    .MuiDataGrid-main {
      background-color: map-get($colors, light, white, primary);
      color: map-get($colors, light, grey, dark);
      border-radius: 0.5rem;
    }
    .MuiTablePagination-root {
      color: map-get($colors, light, grey, dark);
    }
  }
}
.transaction_type {
  display: flex;
  div {
    margin-left: auto;
  }
}
.expenses_value {
  color: #8a0a03;
}
.revenues_value {
  color: #378847;
}
