@import '../../styles/sass/colors';

.table_header_color {
  background-color: map-get($colors, colorized, primary);
  color: map-get($colors, white, secondary);
  button {
    color: map-get($colors, white, secondary);
  }
}
.transaction_type {
  display: flex;
  div {
    margin-left: auto;
  }
}
