@import '../../styles/sass/colors';

.auth__button {
  width: 100%;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px;
  background: map-get($colors, light, colorized, primary);
  margin: 3vh 0;
  &:hover {
    transform: translateY(-5px);
    transition: transform 500ms;
    transition-delay: 100ms;
  }
  span {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
  }
}
