@import '../../styles/sass/colors';

.dashboard__item__square {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:nth-child(2) {
    flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .item__square__title {
    display: flex;
    align-items: center;
    gap: 5px;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
    }
    span {
      opacity: 0.75;
      font-size: 1.1rem;
    }
    svg {
      display: flex;
      align-items: center;
    }
    &.icon__green {
      color: #22c58b;
    }
    &.icon__red {
      color: #eb3d3d;
    }
    &.icon__grey {
      color: map-get($colors, grey, light);
    }
  }

  .item__square__value {
    font-size: 2rem;
    font-weight: 400;
    color: map-get($colors, grey, dark);
  }
}
